config/gh/
config/go/
config/.gnupg/
config/.ssh/
config/.outlook_access_token
config/.password-store/
config/github-copilot/apps.json
config/vdirsyncer/config

# Secrets like oauth token and mbsync password are handled by vygrant, generated in local/bin, so should be good
